@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
    body {
        background: rgb(6, 79, 84);
        background: linear-gradient(90deg, rgba(3,88,82,1.00) 0%, rgba(31,106,63,1.00) 35%, rgba(91,147,134,1.00) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        height: 100vh;
        margin: -20px 0 50px;
    }
    .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
    }